.container {

    padding: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.container .title {
    font-weight: 400;
}

.container .form {
    display: flex;
    flex-direction: column;    
    gap: 24px;
    align-items:center;
}

.container .form .input{
    border-radius: 8px;
    border: none;
    outline:0;
    background: #3f3f46;
    padding: 10px;
    width: 350px;
    
}

.container  .button {
   
    border-radius: 8px;
    border: none;
    padding: 10px;
    background-color: #646cff;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 300ms all;
    width: 370px;
}

.container .button:hover {
    background: #535bf2;
}

.container .receipts {
    width: 370px;

    display: flex;
    flex-direction: column;
    gap: 24px;

}

.container .receipts .receipt {
    width: calc(100% - 32px);
    border: 1px solid white;
    padding: 16px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 300ms all;

}

.container .receipts .receipt:hover {
    transform: scale(1.05);
}

.container .receipts .receipt .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .receipts .receipt .infos {
    display: flex;
    gap: 16px;
    margin-top: 10px;
}

.container .receipts .receipt .infos .text {
    font-size: 13px;
    text-align: center;
}

.container .receipts .receipt .image {
    height: 128px;
    border-radius: 8px;
}